<div class="quotes-wide">
	<table class="quotelist-wide">
		<tr>
			<th>Naam</th>
			<th>Koers</th>
			<th></th>
			<th>+/-</th>
			<th>%</th>
			<th>Hoog</th>
			<th>Laag</th>
			<th>Omzet</th>
			<th>Tijd</th>
		</tr>
		{{#each model as |data|}}
		<tr class="{{data.Positive}}">
			<td><a href="#">{{data.Name}}</a></td>
			<td style="width: 40px">{{data.Koers}}</td>
			<td class="{{data.Sign}}" style="width:10px"></td>
			<td style="width: 40px">{{data.ValueChanged}}</td>
			<td>{{data.Perc}}</td>
			<td>{{data.Hoog}}</td>
			<td>{{data.Laag}}</td>
			<td>{{data.Omzet}}</td>
			<td>{{data.Tijd}}</td>
		</tr>
		{{/each}}

	</table>
	<hr class="quoteshr">
	{{data-paging}}

</div>