<a href="https://www.biqh.nl" target="_blank" class="sourcelink"><img src="/img/source-sharecompany.svg" alt="Bron: Sharecompany"></a>
<div class="paging">
	<button class="prev disabled"></button>
	<div class="text">Pagina</div>
	<input type="text" value="1" />
	<div class="text">van <span>10</span></div>
	<button class="next"></button>
</div>