<ul class="tabs">
	{{#link-to "quotes-wide.aex"}}
	<li id="aexMenuItem" {{action 'SelectMenuItem' 'aexSelected'}} class={{if aexSelected 'active'}}>AEX</li>
	{{/link-to}}
	{{#link-to "quotes-wide.amx"}}
	<li id="amxMenuItem" {{action 'SelectMenuItem' 'amxSelected'}} class={{if amxSelected 'active'}}>AMX</li>
	{{/link-to}}
	{{#link-to "quotes-wide.ascx"}}
	<li id="ascxMenuItem" {{action 'SelectMenuItem' 'ascxSelected'}} class={{if ascxSelected 'active'}}>AScX</li>
	{{/link-to}}
	{{#link-to "quotes-wide.overigamsterdam"}}
	<li id="overigAmsterdamMenuItem" {{action 'SelectMenuItem' 'overigAmsterdamSelected'}} class={{if overigAmsterdamSelected 'active'}}>Overig Amsterdam</li>
	{{/link-to}}
</ul>
