/* CSS Document */

body {
	margin: 0;
	padding: 0;
	color: #414141;
	background-color: #E8E8E8;
	font: 300 15px 'Roboto Slab', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

h1 {
	font-weight: 400;
	line-height: 33px;
	font-size: 25px;
	margin: 0;
	padding: 0;
	float: left;
}

a:link, a:visited {
	font: 300 15px 'Roboto Slab', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #414141;
	text-decoration: none;
}

a.underline:link, a.underline:visited {
	font: 300 15px 'Roboto Slab', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #414141;
	text-decoration: underline;
}

a:hover, a:active {
	font: 300 15px 'Roboto Slab', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #414141;
	text-decoration: underline;
}



a.link-right {
	float: right;
	background: url(../img/icon-arrows-right.svg) no-repeat right 9px;
	padding-right: 15px;
	line-height: 25px;
    margin-top: 8px;
}

a.link-news-back {
	float: right;
	background: url(../img/icon-arrows-left.svg) no-repeat left 9px;
	line-height: 25px;
    margin-top: 8px;
	padding-left: 15px;
}

a.link-left {
	float: left;
	background: url(../img/icon-arrows-right.svg) no-repeat right 9px;
	padding-right: 15px;
	line-height: 25px;
    margin-top: 8px;
}


hr {
	border: none;
	border-top: 1px solid #414141;
	float: left;
	clear: left;
	width: 100%;
	padding: 0;
	margin: 11px 0 10px;
	opacity: 0.5;
}

hr.quoteshr {
	width: calc(100% - 5px);
}

hr.news-list-hr {
	width: 100%;
	margin: 20px 0;
}

hr.news-detail-hr {
	width: 100%;
	margin: 0 0 10px;
}

table {
	float: left;
	clear: left;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	line-height: 21px;
	padding: 3px 0;
	margin: 0;
	vertical-align: top;
	text-align: left;
}

th {
	font-weight: 400;
}

table.two-columns td:nth-child(1) {
	padding: 3px 10px 3px 0;
	margin: 0;
	white-space: nowrap;
}

table.two-columns td:nth-child(2) {
	padding: 3px 0 3px 10px;
	margin: 0;
}

table.three-columns td:nth-child(1) {
	padding: 3px 10px 3px 0;
	margin: 0;
	white-space: nowrap;
}

table.three-columns td:nth-child(2) {
	padding: 3px 10px;
	margin: 0;
}

table.three-columns td:nth-child(3) {
	padding: 3px 0 3px 10px;
	margin: 0;
}

ul.tabs {
	float: left;
	margin: 0;
	padding: 0;
	height: 38px;
}

ul.tabs.stijgdaal {
	margin-top: 10px;
}

ul.tabs li {
	float: left;
	list-style-type: none;
	padding: 0 15px;
	margin: 4px 5px 0 0;
	height: 34px;
	line-height: 34px;
	background-color: rgba(255,255,255,0.8);
	transition: all 0.2s;
	cursor: pointer;
	text-align: center;
}

ul.tabs li.active,
ul.tabs li:hover {
	float: left;
	list-style-type: none;
	padding: 0 15px 4px;
	margin: 0 5px 0 0;
	height: 34px;
	line-height: 34px;
	background-color: rgba(255,255,255,1);
	transition: all 0.2s;
	text-align: center;
}


ul.tabs.bottom li {
	float: left;
	list-style-type: none;
	padding: 0 15px;
	margin: 0 5px 4px 0;
	height: 34px;
	line-height: 34px;
	background-color: rgba(255,255,255,0.8);
	transition: all 0.2s;
	cursor: pointer;
	text-align: center;
}

ul.tabs.bottom li.active,
ul.tabs.bottom li:hover {
	float: left;
	list-style-type: none;
	padding: 4px 15px 0;
	margin: 0 5px 0 0;
	height: 34px;
	line-height: 34px;
	background-color: rgba(255,255,255,1);
	transition: all 0.2s;
	text-align: center;
}

ul.tabs.mini li {
	float: left;
	list-style-type: none;
	padding: 0 5px;
	margin: 4px 5px 0 0;
	height: 34px;
	line-height: 34px;
	background-color: rgba(255,255,255,0.8);
	transition: all 0.2s;
	cursor: pointer;
	text-align: center;
	width: 50px;
}

ul.tabs.mini li:last-child {
	width: 52px;
	margin-right: 0!important;
}


ul.tabs.mini li.active,
ul.tabs.mini li:hover {
	float: left;
	list-style-type: none;
	padding: 0 5px 4px;
	margin: 0 5px 0 0;
	height: 34px;
	line-height: 34px;
	background-color: rgba(255,255,255,1);
	transition: all 0.2s;
	text-align: center;
}


.container-192 {
	width: 192px;
	float: left;
}

.container-316 {
	width: 316px;
	float: left;
}

.container-468 {
	width: 468px;
	float: left;
}

.container-700 {
	width: 720px;
	float: left;
}

.container-814 {
	width: 814px;
	float: left;
}

.container-874 {
	width: 874px;
	float: left;
}


.treemap {
	margin-top: 10px;
	float: left;
	clear: left;
}


.quotes {
	width: calc(100% - 15px);
	float: left;
	background-color: #fff;
	padding: 10px 5px 10px 10px;
}

.quotes-wide {
	width: calc(100% - 20px);
	float: left;
	background-color: #fff;
	padding: 10px;
}

/***********/

table.quotelist td:nth-child(2) {
	text-align: right;
	padding-left: 5px;
}

table.quotelist td:nth-child(3),
table.quotelist td.equal:nth-child(3) {
	width: 10px;
	background: url(../img/icon-equal.svg) no-repeat 17px 10px;
	padding-right: 15px;
	padding-left: 10px;
}

table.quotelist td.up {
	width: 10px;
	background: url(../img/icon-up.svg) no-repeat 17px 10px;
}

table.quotelist td.down {
	width: 10px;
	background: url(../img/icon-down.svg) no-repeat 17px 10px;
}

table.quotelist td:nth-child(4) {
	text-align: right;
	width: 50px;
	padding-right: 5px;
}

/* tick up */

table.quotelist tr.tick-up td:nth-child(2) {
	text-align: right;
	background-color: #6FBF3F;
	color: #fff;
	width: 40px;
}

table.quotelist tr.tick-up td.equal:nth-child(3) {
	width: 10px;
	background: #6FBF3F url(../img/icon-equal-white.svg) no-repeat 17px 10px;
	color: #fff;
	padding-right: 15px;
	padding-left: 15px;
}

table.quotelist tr.tick-up td.up {
	width: 10px;
	background: #6FBF3F url(../img/icon-up-white.svg) no-repeat 17px 10px;
	color: #fff;
}

table.quotelist tr.tick-up td.down {
	width: 10px;
	background: #6FBF3F url(../img/icon-down-white.svg) no-repeat 17px 10px;
	color: #fff;
}

table.quotelist tr.tick-up td:nth-child(4) {
	text-align: right;
	background-color: #6FBF3F;
	color: #fff;
	width: 40px;
}

/* tick down */



table.quotelist tr.tick-down td:nth-child(2) {
	text-align: right;
	background-color: #E84949;
	color: #fff;
	width: 40px;
}

table.quotelist tr.tick-down td.equal:nth-child(3) {
	width: 10px;
	background: #E84949 url(../img/icon-equal-white.svg) no-repeat 17px 10px;
	color: #fff;
	padding-right: 15px;
	padding-left: 15px;
}

table.quotelist tr.tick-down td.up {
	width: 10px;
	background: #E84949 url(../img/icon-up-white.svg) no-repeat 17px 10px;
	color: #fff;
}

table.quotelist tr.tick-down td.down {
	width: 10px;
	background: #E84949 url(../img/icon-down-white.svg) no-repeat 17px 10px;
	color: #fff;
}

table.quotelist tr.tick-down td:nth-child(4) {
	text-align: right;
	background-color: #E84949;
	color: #fff;
	width: 40px;
}

/*********/




/***********/



table.quotelist-wide th:first-child,
table.quotelist-wide td:first-child  {
	padding-left: 5px;
}

table.quotelist-wide th:last-child,
table.quotelist-wide td:last-child  {
	padding-right: 5px;
}

table.quotelist-wide th,
table.quotelist-wide td {
	text-align: right;
}

table.quotelist-wide th:first-child,
table.quotelist-wide td:first-child {
	text-align: left;
}

table.quotelist-wide tr:nth-child(even) {
	background-color: rgba(216,216,216,0.2);
}

table.quotelist-wide td:nth-child(2),
table.quotelist-wide td:nth-child(2) {
	text-align: right;
	padding-left: 10px;
}

table.quotelist-wide td:nth-child(3),
table.quotelist-wide td.equal:nth-child(3) {
	width: 10px;
	background: url(../img/icon-equal.svg) no-repeat 27px 10px;
	padding-right: 25px;
	padding-left: 20px;
}

table.quotelist-wide td.up {
	width: 10px;
	background: url(../img/icon-up.svg) no-repeat 27px 10px;
}

table.quotelist-wide td.down {
	width: 10px;
	background: url(../img/icon-down.svg) no-repeat 27px 10px;
}

table.quotelist-wide th:nth-child(4),
table.quotelist-wide td:nth-child(4) {
	text-align: right;
	width: 50px;
	padding-right: 10px;
}

/* tick up */

table.quotelist-wide tr.tick-up td:nth-child(2) {
	text-align: right;
	background-color: #6FBF3F;
	color: #fff;
	width: 40px;
}

table.quotelist-wide tr.tick-up td.equal:nth-child(3) {
	width: 10px;
	background: #6FBF3F url(../img/icon-equal-white.svg) no-repeat 27px 10px;
	color: #fff;
	padding-right: 15px;
	padding-left: 15px;
}

table.quotelist-wide tr.tick-up td.up {
	width: 10px;
	background: #6FBF3F url(../img/icon-up-white.svg) no-repeat 27px 10px;
	color: #fff;
}

table.quotelist-wide tr.tick-up td.down {
	width: 10px;
	background: #6FBF3F url(../img/icon-down-white.svg) no-repeat 27px 10px;
	color: #fff;
}

table.quotelist-wide tr.tick-up td:nth-child(4) {
	text-align: right;
	background-color: #6FBF3F;
	color: #fff;
	width: 40px;
}

/* tick down */

table.quotelist-wide tr.tick-down td:nth-child(2) {
	text-align: right;
	background-color: #E84949;
	color: #fff;
	width: 40px;
}

table.quotelist-wide tr.tick-down td.equal:nth-child(3) {
	width: 10px;
	background: #E84949 url(../img/icon-equal-white.svg) no-repeat 27px 10px;
	color: #fff;
	padding-right: 15px;
	padding-left: 15px;
}

table.quotelist-wide tr.tick-down td.up {
	width: 10px;
	background: #E84949 url(../img/icon-up-white.svg) no-repeat 27px 10px;
	color: #fff;
}

table.quotelist-wide tr.tick-down td.down {
	width: 10px;
	background: #E84949 url(../img/icon-down-white.svg) no-repeat 27px 10px;
	color: #fff;
}

table.quotelist-wide tr.tick-down td:nth-child(4) {
	text-align: right;
	background-color: #E84949;
	color: #fff;
	width: 40px;
}

/*********/

.sourcelink {
	float: right;
	/*clear: both;*/
	padding-right: 5px;
	margin-bottom: 3px;
}


.paging {
	float: left;
}


.paging button {
    background: #A0A0A0;
    border-radius: 2px;
    height: 24px;
    float: left;
    border: none;
	width: 24px;
	cursor: pointer;
	transition: all 0.2s;
}

.paging button:hover {
    background: #848484;
}

.paging button.prev {
	background: #A0A0A0 url(../img/icon-page-left.svg) no-repeat center center;
}

.paging button.prev:hover {
	background: #848484 url(../img/icon-page-left.svg) no-repeat center center;
}

.paging button.next {
	background: #A0A0A0 url(../img/icon-page-right.svg) no-repeat center center;
}

.paging button.next:hover {
	background: #848484 url(../img/icon-page-right.svg) no-repeat center center;
}

.paging button:disabled,
.paging button.disabled {
	cursor: default;
	opacity: 0.5;
}

.paging .text {
    line-height: 24px;
    float: left;
    font-weight: 300;
    font-size: 14px;
	margin-right: 10px;
	margin-left: 10px;
}


.paging input {
    background-color: rgba(160,160,160,0.2);
    text-align: center;
    border-radius: 2px;
    height: 24px;
    float: left;
    border: none;
	width: 30px;
	font: 300 14px 'Roboto Slab', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: 300;
}




.instrument-name {
	width: 660px;
	font-weight: 400;
	line-height: 33px;
	font-size: 25px;
	margin: 30px 0 0 30px;
	padding: 0;
	float: left;
	clear: left;
}

.midrow, .botrow {
	float: left;
	clear: left;
	width: 660px;
	margin-left: 30px;
	margin-top: 12px;
}

.botrow {
	margin-top: 19px;
}

.midblock, .botblock {
	float: left;

}

.midblock .title {
	font-weight: 400;
	line-height: 21x;
	font-size: 16px;
}

.midblock .value {
	font-weight: 400;
	line-height: 33px;
	font-size: 25px;
}

.midblock .value.green,
.green {
	color: #6FBF3F;
}

.midblock .value.red,
.red {
	color: #E84949;
}



.botblock .title {
	font-weight: 300;
	line-height: 21px;
	font-size: 16px;
}

.botblock .value {
	font-weight: 300;
	line-height: 29px;
	font-size: 22px;
}


.midblock.last, 
.botblock.open {
	width: 130px;
}

.midblock.perchange, 
.botblock.high {
	width: 130px;
}

.midblock.netchange, 
.botblock.low {
	width: 140px;
}

.midblock.prevclose, 
.botblock.volume {
	width: 150px;
}


.midblock.timestamp {
	width: 100px;
}

.chart {
	background-color: #fff;
	float: left;
	clear: left;
}


.chart-header {
	float: left;
	width: 100%;
	clear: left;
	background-color: #fff;
	padding-top: 10px;
}

.chart-header table td:nth-child(1) {
	padding-left: 10px;
	padding-right: 5px;
	text-align: left;
}

.chart-header table td:nth-child(2) {
	text-align: center;
}

.chart-header table td:nth-child(3) {
	padding-left: 5px;
	padding-right: 10px;
	text-align: right;
}


.profile-text {
	line-height: 25px;
	padding-top: 5px;
	padding-bottom: 20px;
}


.news-item {
	float: left;
	clear: left;
	margin: 0;
}

.news-item:first-child {
	margin: 15px 0 0;
}


.news-item .news-title {
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	float: left;
	clear: left;
}

.news-item .news-timestamp {
	font-size: 15px;
	line-height: 24px;
	font-weight: 300;
	float: left;
	clear: left;
	margin-top: 2px;
	margin-bottom: 2px;
}

.news-item .news-photo {
	float: left;
	clear: left;
	width: 190px;
	height: 115px;
	margin-right: 20px;
	margin-top: 7px;
}

.news-item .news-body {
	float: left;
	width: calc(100% - 210px);
	height: 115px;
	line-height: 25px;
}

.news-item a.link-news {
	float: left;
	background: url(../img/icon-arrows-right.svg) no-repeat right 9px;
	padding-right: 15px;
	line-height: 25px;
    margin-top: 0;
    display: block;
    font-weight: 400;
}

.news-detail-timestamp {
	font-size: 15px;
	line-height: 24px;
	font-weight: 300;
	float: left;
	clear: left;
	margin-top: 4px;
	margin-bottom: 4px;
}

.news-detail-photo {
	float: left;
	clear: left;
	margin-top: 14px;
	margin-bottom: 8px;
}

.news-detail-body {
	float: left;
	clear: left;
	line-height: 25px;
}

p.intro {
	font-weight: 400;
}

.instrument-details {
	font-weight: 400;
	float: left;
	clear: left;
	margin-bottom: 20px;
}

.instrument-details a {
	font-weight: 400;
	text-decoration: underline;
}

table.links {
    margin: 30px;
    width: 400px;
}

table.links td, table.links th {
    padding-left: 10px;
    padding-right: 10px;
}

 table.links th {
    background-color: #414141;
     color: #fff;
}







.indice-block {
	float: left;
	width: 164px;
	height: 60px;
	margin-right: 5px;
	color: #fff;
	margin-bottom: 5px;
}

.indice-block:last-child {
	margin-right: 0;
}

.green-block {
	background-color: #6FBF3F;
}

.red-block {
	background-color: #E84949;
}

.grey-block {
	background-color: #9E9E9E;
}

.top-row, .bottom-row {
	width: 100%;
	float: left;
	clear: left;
}

.top-row {
	margin-top: 8px;
}

.indice-name, .indice-percchange {
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
}

.indice-name, .indice-last {
	float: left;
	text-align: left;
	padding-left: 10px;
	padding-right: 2px;
}

.indice-percchange, .indice-change {
	float: right;
	text-align: right;
	padding-right: 10px;
	padding-left: 2px;
}

.indice-last, .indice-change {
	font-size: 16px;
	line-height: 20px;
	font-weight: 300;
}


