﻿<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OneBusinessEmber</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}

    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor.css">
  	<link integrity="" rel="stylesheet" href="{{rootURL}}assets/one-business-ember.css">

    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

  	<script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/one-business-ember.js"></script>
  	<!-- Lightstreamer JavaScript Client library -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.9/require.min.js"></script>
  	<script src="https://demos.lightstreamer.com/commons/lightstreamer.js"></script>


    {{content-for "body-footer"}}
  </body>
</html>
