
<ul>
	<li> {{#link-to 'newspage'}}News page{{/link-to}}</li>
	<li> {{#link-to 'newshome'}}News home{{/link-to}}</li>
	<li> {{#link-to 'profile'}}Profile{{/link-to}}</li>
	<li> {{#link-to 'quotes-wide.aex'}}Quotes-wide{{/link-to}}</li>
</ul>