<div class="container-814">
	<div class="news-item">
		<div class="news-title">Groei luchtvaartpassagiers vlakt wat af</div>
		<div class="news-timestamp">Dinsdag 10 oktober 2017 11:34</div>

		<div class="news-photo" style="background: url(/img/groei-luchtvaartpassagiers-vlakt-wat-af-715x408.png) no-repeat center center;background-size:cover;"></div>
		<div class="news-body">
			<div>BRUSSEL (ANP) - Het aantal luchtvaartpassagiers is in augustus iets minder hard gegroeid dan in juli, blijkt uit cijfers van brancheorganisatie ACI Europe. De groei van de bij de organisatie aangesloten luchthavens buiten de Europese Unie viel verder terug dan binnen de EU. Desondanks waren de cijfers sinds de eeuwwisseling... </div>
			<a href="#" class="link-news">Lees verder</a>
		</div>

	</div>
	<hr class="news-list-hr">


	<div class="news-item">
		<div class="news-title">Brits defensieconcern schrapt veel banen</div>
		<div class="news-timestamp">Dinsdag 10 oktober 2017 11:17</div>

		<div class="news-photo" style="background: url(/img/brits-defensieconcern-schrapt-veel-banen-715x408.png) no-repeat center center;background-size:cover;"></div>
		<div class="news-body">
			<div>LONDEN (ANP/BLOOMBERG) - Het Britse defensieconcern BAE Systems schrapt bijna 2000 banen. Het bedrijf gaat het productietempo van onder meer het gevechtsvliegtuig Eurofighter Typhoon vertragen, zo bleek dinsdag. Dat komt omdat er minder vraag naar het toestel is.De sanering is een flinke tik voor de Britse... </div>
			<a href="#" class="link-news">Lees verder</a>
		</div>

	</div>
	<hr class="news-list-hr">


	<div class="news-item">
		<div class="news-title">Takeaway in trek op Damrak</div>
		<div class="news-timestamp">Dinsdag 10 oktober 2017 10:18</div>

		<div class="news-photo" style="background: url(/img/aex-opent-licht-in-het-rood-715x408.png) no-repeat center center;background-size:cover;"></div>
		<div class="news-body">
			<div>AMSTERDAM (ANP) - De aandelenbeurs in Amsterdam werkte dinsdag het openingsverlies weg. Ook de meeste andere Europese beursgraadmeters krabbelden wat op. Op het Damrak viel het handelsbericht van Takeaway in de smaak. Verder ging de aandacht uit naar de ontwikkelingen in Spanje, waar de politieke crisis een...  </div>
			<a href="#" class="link-news">Lees verder</a>
		</div>

	</div>
	<hr class="news-list-hr">


	<div class="news-item">
		<div class="news-title">Veel meer nieuwe bedrijven in zomer</div>
		<div class="news-timestamp">Dinsdag 10 oktober 2017 09:46</div>

		<div class="news-photo" style="background: url(/img/veel-meer-nieuwe-bedrijven-in-zomer-715x408.png) no-repeat center center;background-size:cover;"></div>
		<div class="news-body">
			<div>UTRECHT (ANP) - Het aantal startende bedrijven lag in het derde kwartaal 6 procent hoger dan in dezelfde periode vorig jaar. In juli en augustus waren dat er zelfs 10 procent meer, meldt de Kamer van Koophandel. In totaal openden in het derde kwartaal 43.469 bedrijven voor het eerst de deuren. Ook het aantal zzp'ers nam in...</div>
			<a href="#" class="link-news">Lees verder</a>
		</div>

	</div>
	<hr class="news-list-hr">


	<div class="news-item">
		<div class="news-title">AEX opent licht in het rood</div>
		<div class="news-timestamp">Dinsdag 10 oktober 2017 09:17</div>

		<div class="news-photo" style="background: url(/img/damrak-opent-in-het-rood-715x408.png) no-repeat center center;background-size:cover;"></div>
		<div class="news-body">
			<div>AMSTERDAM (ANP) - De aandelenbeurs in Amsterdam is dinsdag licht lager geopend. Ook de andere Europese beursgraadmeters begonnen overwegend met kleine verliezen aan de nieuwe handelsdag. Beleggers letten vooral op de ontwikkelingen in Spanje, waar de politieke crisis een cruciale fase heeft bereikt. De AEX-index op...</div>
			<a href="#" class="link-news">Lees verder</a>
		</div>

	</div>

</div>